<div class="container">
    <br>
    <p>
        A filosofia nasceu na Grécia antiga, no início do século VI a.C. Tales de Mileto é reconhecido como o primeiro filósofo, apesar disso, foi outro filósofo, Pitágoras, que cunhou o termo "filosofia", uma junção das palavras "philos" (amor) e "sophia" (conhecimento), que significa "amor ao conhecimento".

        Desde então, a filosofia é a atividade que se dedica a compreender, identificar e comunicar a realidade através de conceitos lógico-racionais. Ela surgiu do abandono gradativo das explicações dadas pela mitologia (desmitificação) e a busca por um conhecimento seguro.
        Da Consciência Mítica à Consciência Filosófica
        Michelangelo - Criação de Adão
        Michelangelo - A Criação de Adão (estreita ligação entre os homens e os deuses)
        
        A consciência mítica era caracterizada pelas explicações tradicionais encontradas nas histórias mitológicas. A mitologia grega, por se tratar de uma crença politeísta, é composta por uma série de entidades, entre deuses, titãs e outros seres que se relacionavam, faziam surgir e davam sentido ao universo.
        
        Essas explicações possuíam um caráter fantasioso, fabuloso, e suas histórias eram compostas por muitas imagens, construindo uma cultura popular transmitida a partir de uma tradição oral. Essas histórias eram contadas pelos poetas-rapsodos.
        
        Durante muito tempo, essas histórias constituíram a explicação sobre a cultura grega e sobre a origem de todas as coisas. Não havia uma distinção entre religião e outras atividades. Todos os aspectos da vida humana estavam diretamente relacionados com os deuses e outras divindades que regiam o universo.
        
        Aos poucos, essa mentalidade foi se transformando. Alguns fatores fizeram com que algumas pessoas na Grécia antiga passassem a relativizar este conhecimento e pensar em novas possibilidades de explicação.
        
        Dessa relativização, nasce a necessidade de encontrar explicações cada vez melhores para todas as coisas. A crença vai dando lugar à argumentação, à capacidade de convencer e dar explicações baseadas na razão, o lógos.
        
        O lógos é identificado como a fala objetiva, clara e ordenada. Assim, o pensamento grego foi abandonando à crença (consciência mítica) para assumir o que "faz sentido" o que possui uma lógica, o que é capaz de ser explicado pelo ser humano (consciência filosófica).
    </p>
    <br>
</div>

